---
services:

  redis:
    image: redis:alpine
    restart: unless-stopped

  postgres:
    image: postgres:alpine
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=moodle
      - POSTGRES_USER=moodle
      - POSTGRES_DB=moodle
    volumes:
      - postgres:/var/lib/postgresql/data

  moodle:
    image: erseco/alpine-moodle
    build:
      context: .
      args:
        # To use a specific Moodle version, set MOODLE_VERSION to git release tag.
        # You can find the list of available tags at:
        # https://api.github.com/repos/moodle/moodle/tags
        #
        # Example:
        # MOODLE_VERSION: v4.5.3
        MOODLE_VERSION: main
    restart: unless-stopped
    environment:
      LANG: en_US.UTF-8
      LANGUAGE: en_US:en
      SITE_URL: http://localhost
      DB_TYPE: pgsql
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: moodle
      DB_USER: moodle
      DB_PASS: moodle
      DB_PREFIX: mdl_
      REDIS_HOST: redis
      REVERSEPROXY: false
      SSLPROXY: false
      MOODLE_EMAIL: user@example.com
      MOODLE_LANGUAGE: en
      MOODLE_SITENAME: New-Site
      MOODLE_USERNAME: moodleuser
      MOODLE_PASSWORD: PLEASE_CHANGEME
      SMTP_HOST: smtp.gmail.com
      SMTP_PORT: 587
      SMTP_USER: your_email@gmail.com
      SMTP_PASSWORD: your_password
      SMTP_PROTOCOL: tls
      MOODLE_MAIL_NOREPLY_ADDRESS: noreply@localhost
      MOODLE_MAIL_PREFIX: "[moodle]"
      PRE_CONFIGURE_COMMANDS: |
        echo 'This is a pre-configure command'
      POST_CONFIGURE_COMMANDS: |
        echo 'This is a post-configure command'
    ports:
      - 80:8080
    volumes:
      - moodledata:/var/www/moodledata
      - moodlehtml:/var/www/html
    depends_on:
      - postgres
      - redis

volumes:
  postgres: null
  moodledata: null
  moodlehtml: null
